

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;

}

.navbar li {
    height: 50px;
    display: inline;
}

.navbar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:darkslategrey;
}

.navbar a:hover {
    color:azure;
}